@require "~assets/stylus/variable.styl"

.unfold-content
  font-size: $font-size-large-xxxl
  line-height: 42px
  margin-bottom: 24px
  overflow: hidden
  position: relative
.unfold-btn
  background-color: white
  display inline-block
  color: $color-theme-primary

// .medium
//   font-size: $font-size-large-xxxl
//   height: 56px
//   line-height: 56px

// .flat-button
//   text-align: center

// .white-flat-button
//   background-color: white
//   color: $color-theme-primary
