@import "~assets/stylus/variable.styl"

.singer-albums
  p.title
    height: 94px
    line-height: 94px
    margin-left: 10px
    color: $color-icon
  p.title.tbw-box
    background-color: $color-background
    width: 200px
    border-bottom-width: 31px
    border-top-width: 31px

.musiclist-img-collect-item
  margin-left: 10px

