@import "~assets/stylus/variable.styl"

.collect-item
  display: flex
  flex-wrap: nowrap
  width: calc(100% - 36px)
  height: 96px
  margin-left: 36px
  box-sizing: border-box
  font-size: $font-size-large-xxxlll
  line-height: 96px
  border-bottom: 1px solid $color-background;
  border-top: 1px solid $color-background;
  text-align left
  justify-content: space-between
  align-items: center
  .material-icons
    height: inherit
    line-height: inherit
    color: $color-icon
    text-align: left
  .collect-item-header
    width: 56px
  .collect-item-body
    display: flex
    line-height: inherit
    height: inherit
    justify-content: space-between
    align-items: center
    width: 646px
    box-sizing: border-box
    color: $color-text
    padding-left: 15px
    .badge
      color: $color-icon
      font-size: $font-size-large-xxx
  .collect-item-tail
    height: inherit
    width: 48px
    margin-right: 20px

.loading-collect-item.icon-collect-item
  .collect-item-header
    height: 56px
    width: 56px
    background-color: $color-background
  .collect-item-body
    p
      height: $font-size-large-xxxlll
      width: 340px
      background-color: $color-background
  .collect-item-tail
    background-color: $color-background
    height: 48px


.icon-collect-item
  .collect-item-header
    height: inherit
    width: 56px


.text-collect-item
  .collect-item-header
    display: none
